@font-face 
{
    font-family: "myFontItim";
    src: url("../../fonts/AnyConv.com__Itim-Regular.woff2") format("woff2"),
    url("../../fonts/AnyConv.com__Itim-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');