body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}
/* шапка */
.header__container
{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: space-around;
    width: 80%;
    color: #4437D7;
    font-size: calc(25px + (10 * 0.7) * ((100vw - 320px) / 1280));
    font-family: "Cascadia Code", sans-serif;
}

.header__container--nametext {
    font-weight: bold;
}

.header__linecont
{
    display: flex;
    justify-content: center;
}
.header__line
{
    border-bottom: 5px solid #d1c6e6;
    border-radius: 3px;
    width: 80%;
}
