.reg_wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
}

.reg_window 
{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 500px;
    margin-top: 20px;
}

.window__registration--infotext 
{
    margin-bottom: 20px;
    font-weight: bold;
    color: #4437D7;
    font-size: calc(24px + (17 * 0.7) * ((100vw - 320px) / 1280));
    text-align: center;
    text-wrap: wrap;
}

.window__registration--label
{
    color: #4437D7;
    font-size: calc(20px + (20 * 0.7) * ((100vw - 320px) / 1280));
    letter-spacing: 3px;
}

.window__registration--email ,.window__registration--password
{
    width: calc(100% - 4px); 
    height: calc(100% - 4px); 
    border-radius: 5px;
    border: 2px solid #2b1fab;
    box-sizing: border-box; 
}

.window__registration--btns
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 3.2rem;
    padding-bottom: 20px;
}

.window__registration--button
{
    font-size: 1.1rem;
    border: none;
    background: none;
    background-color: #afa7ff;
    border-radius: 1rem;
    width: 9rem;
    height: 2.5rem;
    transition: all 0.4s ease-in-out;
}

.window__registration--button:hover
{
    background-color:#2f89ff;
    cursor: pointer;
}

.window__registration--emailError,.window__registration--passwordError
{
    margin-top: 0px;
    color: rgb(165, 64, 64);
}