<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Achex">
    <meta name="description" content="Не забывайте о важных вещах">
    <title>Friendly reminder</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>

<body>
    <div id="wrapper">
        <!-- header -->
        <header>
            <div class="header__container">
                <p class="header__container--nametext">Friendly reminder</p>
                <p class="header__container--list">Ваш список</p>
            </div>
            <div class="header__linecont">
                <div class="header__line"></div>
            </div>
        </header>
        <!-- main tasks -->
        <main class="main">        
            <section class="BtnCheckmarkSection">
                <button class="BtnCheckmarkSection__addbtn--btn">добавить</button>
                <div class="BtnCheckmarkSection__checkmark">
                    <input type="checkbox" class="BtnCheckmarkSection__checkmark--checkmark">
                    <p class="BtnCheckmarkSection__checkmark--text">получать список по почте</p>
                </div>
            </section>
            <!-- будет создаваться в js -->
            <section class="tasks">
                <div class="create-task-popup">
                    <input placeholder="Введите текст" name="task" type="text" class="task-input"></input>
                    <div class="create-task-popup__btns">
                        <button class="tasks__cont--btnAdd">Добавить</button>
                        <button class="tasks__cont--btnCancel">Отменить</button>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="../js/create_delete_tasks.js"></script>
    <script src="../js/reg/check_auth.js"></script>
    <script src="../js/subscribe.js"></script>
</body>
</html>